$body-bg: #f4f4f7; // Change body background
$font-family-sans-serif: "Montserrat", sans-serif; // Change font
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1820px,
);
